:root {
  /* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=5E35B1&secondary.color=9CCC65 */
  --main-primary-bg-color: #5e35b1;
  --main-primary-bg-color-light: #9162e4;
  --main-primary-bg-color-dark: #280680;
  --main-primary-fg-color: #fff;
  --main-primary-fg-color-light: #000;
  --main-primary-fg-color-dark: #fff;

  --main-secondary-bg-color: #9ccc65;
  --main-secondary-bg-color-light: #cfff95;
  --main-secondary-bg-color-dark: #6b9b37;
  --main-secondary-fg-color: #000;
  --main-secondary-fg-color-light: #000;
  --main-secondary-fg-color-dark: #000;

  --main-bg-color: #F5F5F6;
  --main-bg-color-dark: #E1E2E1;
  --main-bg-color-light: #FFF;

  --main-fg-color: #000;

  --header-height: 3rem;
  --header-height-big: 4rem;
  --header-height-small: 2rem;:
}


* {
  box-sizing: border-box;
}

body.no-transitions *, body.no-transitions *::before {
  transition: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

body > * {
  padding: 0 1rem;
}

section > * {
  margin: 1rem 0 0 0;
}

section > *:last-child {
  margin: 1rem 0;
}

h1, h2, footer {
  width: 100%;
  margin: 0;
  padding: .5ex 1em;
  height: var(--header-height-big);
  line-height: calc( var(--header-height-big) - 1ex );
  background-color: var(--main-primary-bg-color-dark);
  color:  var(--main-primary-fg-color-dark);
}

footer {
  height: var(--header-height-small);
  line-height: calc( var(--header-height-small) - 1ex );
  font-size: 80%;
}

h2 {
  cursor: pointer;
  background-color: var(--main-primary-bg-color);
  color:  var(--main-primary-fg-color);
  height: var(--header-height);
  line-height: calc( var(--header-height) - 1ex );
}

h2::before {
  content: "â¯";
  margin-right: 1ex;
  display: inline-block;
  transform: rotate(90deg);
  transition: transform .35s;
}

h2.collapsed::before {
  transform: rotate(0deg);
}

h2.collapsed + section {
  height: 0;
}

h2 + section {
  overflow: auto;
  transition: height .35s;
  /* number of sections here */
  height: calc( 100vh - var(--header-height-big) - 3 * var(--header-height) - var(--header-height-small) );
}

table.borderless {
  box-shadow: none;
}

table.borderless td {
  border: none;
}

table {
  border-collapse: collapse;
  box-shadow: 1px 1px 3px #4f4f4f;
}

tr.highlighted {
  background-color: var(--main-secondary-bg-color-light);
  color: var(--main-secondary-fg-color-dark);
  box-shadow: 0 0 3px 3px var(--main-secondary-bg-color-dark);
}

td {
  border: 1px solid gray;
  padding: .5ex 1em;
}

td:first-child {
  text-align: center;
}

input[type='text'] {
  border-radius: 10px;
  border: 1px solid gray;
  padding: .4em 3em .4em 1em;
  box-shadow: 1px 1px 3px #4f4f4f;
  transition: all .2s;
}

input[type='text']:focus {
  border-color: var(--main-secondary-bg-color);
  box-shadow: 1px 1px 3px var(--main-secondary-bg-color-dark);
  outline: none !important;
}

#reset-to-spell  {
  position: relative;
  left: -2.5em;
}

#save-to-spell {
  font-size: 110%;
}

input[type='button'],
button {
  border-radius: 2em;
  border: 0;
  color: var(--main-secondary-fg-color-dark);
  background-color: var(--main-secondary-bg-color-dark);
  cursor: pointer;
  transition: all .2s;
  box-shadow: 1px 1px 3px #4f4f4f;
}

button {
  padding: 1ex 1em;
}

input[type='button'] {
  width: 2em;
  height: 2em;
}

input[type='button']:hover,
button:hover {
  background-color: var(--main-secondary-bg-color);
  box-shadow: 2px 2px 5px #4f4f4f;
}

input[type='button']:active,
button:active {
  background-color: var(--main-secondary-bg-color-light);
}

h2#spelling + section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h2#spelling + section > #spelled {
  overflow: hidden;
  margin-bottom: 0;
}
